body{
    background-color: aliceblue;
}
#titlu{
    text-align: center;
    background-image: linear-gradient(rgb(0, 0, 64), aliceblue);
    padding:10px;
    color:aquamarine
}

h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px
}

button{
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: brown;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: rgb(13, 93, 180);
}

button:active{
    background-color: rgb(97, 118, 147)
}

input{
    text-align: center;
}
